<div class="navbar navbar-inverse" ng-class="{'show-menu': menuShown === true}">
    <div class="container page-slide">
        <p class="navbar-text">{{ title }}</p>

        <div class="pull-left" ng-show="showLeftButton()">
            <div class="btn navbar-btn btn-clear" ng-click="navigateLeft()">
                <i class="glyphicon glyphicon-{{leftButton.icon}}" ng-show="leftButton.icon"></i>
                <span ng-show="leftButton.title">&nbsp;{{leftButton.title}}</span>
            </div>
        </div>
        <div class="pull-right" ng-show="showRightButton()">
            <div class="btn navbar-btn btn-primary" ng-click="navigateRight()">
                <i class="glyphicon glyphicon-{{rightButton.icon}}" ng-show="rightButton.icon"></i>
                <span ng-show="rightButton.title">&nbsp;{{rightButton.title}}</span>
            </div>
        </div>
    </div>
</div>
