*.log
.idea/
node_modules/
platforms/*/assets/
platforms/*/build/
platforms/*/www/
platforms/ios/CordovaLib/build/
platforms/android/gen/
platforms/android/bin/
platforms/android/out/
www/components/
platforms/ios/AgristaCore.xcodeproj/project.xcworkspace/
platforms/ios/AgristaCore.xcodeproj/xcuserdata/
platforms/ios/CordovaLib/CordovaLib.xcodeproj/xcuserdata/
