<div>
    <navigation-bar class="navbar-fixed-top navbar-force-fixed"
            title="{{navbar.title}}"
            left-button="{icon: 'align-justify'}"
            navigate-left="menu.toggle"
            right-button="{icon: 'plus'}"
            navigate-right="navbar.navigateRight"></navigation-bar>

    <section class="view">
        <div class="container">
            <ul class="nav nav-tabs nav-stacked">
                <li ng-repeat="item in items">
                    <a ng-tap="showItem(item.id)">{{item.title}}</a>
                </li>
            </ul>
        </div>
    </section>
</div>
