<div>
    <navigation-bar class="navbar-fixed-top navbar-force-fixed"
                    title="{{navbar.title}}"
                    left-button="{icon: 'align-justify'}"
                    navigate-left="menu.toggle"
                    right-button="{icon: 'refresh'}"
                    navigate-right="navbar.navigateRight"></navigation-bar>

    <section class="view">
        <div class="container">
            <ul class="nav nav-tabs nav-stacked">
                <li>
                    <a>
                        <input ng-model="addItemData" type="text"/>
                        <button class="btn btn-primary btn-mini" ng-click="addItem(addItemData)">Add</button>
                    </a>
                </li>
                <li ng-repeat="item in items">
                    <a>
                        <input ng-model="item.data.name" type="text"/>
                        <button class="btn btn-primary btn-mini" ng-click="item.update()">Update</button>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>
