<div>
    <navigation-menu></navigation-menu>

    <navigation-bar class="navbar-fixed-top navbar-force-fixed"
                    title="{{navbar.title}}"
                    menu-shown="menu.show"
                    left-button="navbar.leftButton"
                    navigate-left="menu.toggle"
                    right-button="navbar.rightButton"
                    navigate-right="navbar.navigateRight">
    </navigation-bar>

    <tool-bar>
        <div class="btn btn-sm btn-toolbar">Tool 1</div>
        <div class="btn btn-sm btn-toolbar">Tool 2</div>
    </tool-bar>

    <navigation-page>
        <div class="list-group">
            <a class="list-group-item" ng-click="addItem(addItemData)">
                <input ng-model="addItemData" type="text"/>
                <button class="btn btn-primary btn-sm" ng-click="addItem(addItemData)">Add</button>
            </a>

            <a class="list-group-item" ng-click="item.update()" ng-repeat="item in items">
                <input ng-model="item.data.name" type="text"/>
                <button class="btn btn-primary btn-sm">Update</button>
            </a>
        </div>
    </navigation-page>
</div>
