<div>
    <navigation-menu></navigation-menu>
    <navigation-bar class="navbar-fixed-top navbar-force-fixed"
                    title="navbar.title"
                    menu-shown="menu.show"
                    left-button="navbar.leftButton"
                    navigate-left="menu.toggle"
                    right-button="navbar.rightButton"
                    navigate-right="navbar.syncData"></navigation-bar>

    <tool-bar>
        <div ng-click="setToolbar('list')" ng-class="{active: toolbar == 'list'}" class="btn btn-sm btn-toolbar">List</div>
        <div ng-click="setToolbar('map')" ng-class="{active: toolbar == 'map'}" class="btn btn-sm btn-toolbar">Wall map</div>
    </tool-bar>

    <navigation-page ng-switch on="toolbar">
        <div class="map-container" ng-switch-when="map">
            <mapbox id="map"></mapbox>
        </div>
        <div class="list-group" ng-switch-default>
            <a class="list-group-item" ng-click="showCustomer(customer.data.fid)" ng-repeat="customer in customers">
                {{customer.data.name}}
            </a>
        </div>
    </navigation-page>
</div>