<div>
    <navigation-menu></navigation-menu>
    <navigation-bar class="navbar-fixed-top navbar-force-fixed"
                    title="navbar.title"
                    menu-shown="menu.show"
                    left-button="navbar.leftButton"
                    navigate-left="menu.toggle"
                    right-button="navbar.rightButton"
                    navigate-right="navbar.syncData"></navigation-bar>

    <navigation-page>
        <div class="list-group">
            <a class="list-group-item" ng-click="showCustomer(customer.data.fid)" ng-repeat="customer in customers">
                {{customer.data.name}}
            </a>
        </div>
    </navigation-page>
</div>
