<div>
    <navigation-bar class="navbar-fixed-top navbar-force-fixed"
                    title="{{navbar.title}}"
                    right-button="navbar.rightButton"
                    navigate-right="navbar.navigateRight"></navigation-bar>

    <navigation-page>
        <div class="alert alert-danger" ng-show="error.submission || error.authorization">
            {{ error.message }}
        </div>
        <form class="form-horizontal">
            <div class="form-group" ng-class="{'has-error': (error.submission && user.email.length == 0)}">
                <label for="email" class="col-lg-2 control-label">E-mail</label>

                <div class="col-lg-10">
                    <input ng-model="user.email" type="text" class="form-control" id="email"
                           placeholder="Enter e-mail" required>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': (error.submission && user.password.length == 0)}">
                <label for="password" class="col-lg-2 control-label">Password</label>

                <div class="col-lg-10">
                    <input ng-model="user.password" type="password" class="form-control" id="password"
                           placeholder="Password" required>
                </div>
            </div>
        </form>
    </navigation-page>
</div>
