/*
 The slide-enter prefix is the event name that you
 have provided within the ngAnimate attribute.
*/

html, body {
    height: 100%;
}

.animate {
    -webkit-transition: .4s ease-in-out all; /* Safari/Chrome */
    -moz-transition: .4s ease-in-out all; /* Firefox */
    -ms-transition: .4s ease-in-out all; /* IE10 */
    -o-transition: .4s ease-in-out all; /* Opera */
    transition: .4s ease-in-out all; /* Future Browsers */
    overflow: hidden;

    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

.animate-container {
    position: relative;
    height: 100%;
}

.animate-container > * {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}

/*
.slide-enter {
    left: 96%;
}

.slide-leave {
}

.slide-enter.slide-enter-active {
    left: 0;
}

.slide-leave.slide-leave-active {
    left: -100%;
}

.slide-reverse-enter {
    left: -96%;
}

.slide-reverse-leave {
}

.slide-reverse-enter.slide-reverse-enter-active {
    left: 0;
}

.slide-reverse-leave.slide-reverse-leave-active {
    left: 100%;
}

.modal-enter {
    top: 100%;
}

.modal-leave {
    top: 0;
}

.modal-enter.modal-enter-active {
    top: 0;
}

.modal-leave.modal-leave-active {
    top: 0;
}

.modal-reverse-enter {
    top: 0;
}

.modal-reverse-leave {
    top: 0;
    z-index: 1000;
}

.modal-reverse-enter.modal-reverse-enter-active {
    top: 0;
}

.modal-reverse-leave.modal-reverse-leave-active {
    top: 100%;
}
*/


.slide-enter {
    transform: translate3d(96%, 0, 0);
    -webkit-transform: translate3d(96%, 0, 0);
}

.slide-leave {
}

.slide-enter.slide-enter-active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.slide-leave.slide-leave-active {
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
}

.slide-reverse-enter {
    transform: translate3d(-96%, 0, 0);
    -webkit-transform: translate3d(-96%, 0, 0);
}

.slide-reverse-leave {
}

.slide-reverse-enter.slide-reverse-enter-active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.slide-reverse-leave.slide-reverse-leave-active {
    transform: translate3d(100%), 0, 0;
    -webkit-transform: translate3d(100%, 0, 0);
}

.modal-enter {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
}

.modal-leave {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.modal-enter.modal-enter-active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(00, 0, 0);
}

.modal-leave.modal-leave-active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.modal-reverse-enter {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.modal-reverse-leave {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    z-index: 1000;
}

.modal-reverse-enter.modal-reverse-enter-active {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.modal-reverse-leave.modal-reverse-leave-active {
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
}