/*
 The slide-enter prefix is the event name that you
 have provided within the ngAnimate attribute.
*/

html, body {
    height: 100%;
}

.animate {
    -webkit-transition: .4s linear all; /* Safari/Chrome */
    -moz-transition: .4s linear all; /* Firefox */
    -ms-transition: .4s linear all; /* IE10 */
    -o-transition: .4s linear all; /* Opera */
    transition: .4s linear all; /* Future Browsers */
    overflow: hidden;
}

.animate-container {
    position: relative;
    height: 100%;
}

.animate-container > * {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}

/* Slide */
.slide-enter {
    transform: translateX(95%);
    -webkit-transform: translateX(95%);
}

.slide-leave {
}

.slide-enter.slide-enter-active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.slide-leave.slide-leave-active {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

/* Slide Reverse */
.slide-reverse-enter {
    transform: translateX(-95%);
    -webkit-transform: translateX(-95%);
}

.slide-reverse-leave {
}

.slide-reverse-enter.slide-reverse-enter-active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.slide-reverse-leave.slide-reverse-leave-active {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}

/* Modal */
.modal-enter {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}

.modal-leave {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.modal-enter.modal-enter-active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.modal-leave.modal-leave-active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

/* Modal Reverse */
.modal-reverse-enter {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.modal-reverse-leave {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    z-index: 1000;
}

.modal-reverse-enter.modal-reverse-enter-active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

.modal-reverse-leave.modal-reverse-leave-active {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}
