body {
    overflow-y: hidden;
}

/**
 * Navigation menu
 */
#nav-menu {
    width: 256px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 50px;
}

#nav-menu .navbar {
    margin-bottom: 0;
}

#nav-menu nav {
    display: block;
    background-color: #a5aba8;
    z-index: 5;
    height: 100%;
    border-right: solid 2px #e2e2e2;
}

#nav-menu li a {
    display: block;
    padding: 15px;
    border-bottom: solid 2px #a5aba8;
    color: #fff;
    background-color: #919693;
}

#nav-menu li a:hover {
    background-color: #797d7a;
}

#nav-page {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

/*
#nav-page {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #fff;
}
*/
.page-slide {
    position: relative;
    -webkit-transition: .2s ease-in-out -webkit-transform;
    transition: .2s ease-in-out transform;
    overflow: hidden;
}

.show-menu.page-slide,
.show-menu .page-slide {
    -webkit-transform: translate3d(256px, 0, 0);
    transform: translate3d(256px, 0, 0);
}

.animate #nav-menu {
    display: none;
}

#nav-page.show-menu  {
    overflow: hidden;
    pointer-events: none;
}

/**
 * Bootstrap adaption
 */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    width: 100%;
    left: auto;
    right: auto;
    z-index: 1030;
    border-radius: 0;
}
.navbar-fixed-bottom {
    margin-bottom: 0;
}

.navbar-text {
    display: inline-block;
    margin: 0;
    padding: 13px 10px;
    font-size: 18px;
}

.nav-tabs {
    border-bottom: 1px solid #919693;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-stacked > li + li {
    margin-top: 0;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #919693;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #919693;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified > li {
    float: none;
    display: table-cell;
    width: 1%;
}
.nav-tabs.nav-justified > li > a {
    text-align: center;
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #919693;
    margin-right: 0;
}
.nav-tabs.nav-justified > .active > a {
    border-bottom-color: #ffffff;
}
.nav-tabs.nav-stacked {
    margin-bottom: 5px;
    border-bottom: 0;
}
.nav-tabs.nav-stacked > li {
    float: none;
    margin-bottom: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.nav-tabs.nav-stacked > li:last-child > a {
    border-bottom: solid 1px #919693;
    border-radius: 0 0 6px 6px;
}
.nav-tabs.nav-stacked > li > a {
    margin: 0;
    border-width: 1px 1px 0 1px;
    border-color: #919693;
    border-radius: 0;
}

.btn {
    padding: 9px 12px 8px 13px;
}

.btn-clear {
    background-color: #5B4723;
    color: #fff;
}

.btn-clear:hover {
    background-color: #876028;
    border-color: #755426;
}
