#nav-menu {
    width: 256px;
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #568e14;
}
#nav-menu nav {
    display: block;
    color: white;
    z-index: 5;
    height: 100%;
}
#nav-menu nav div {
    z-index: 5;
}
#nav-page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    -webkit-transition: .3s linear all; /* Safari/Chrome */
    -moz-transition: .3s linear all; /* Firefox */
    -ms-transition: .3s linear all; /* IE10 */
    -o-transition: .3s linear all; /* Opera */
    transition: .3s linear all; /* Future Browsers */
}

#nav-page.show-menu {
    left: 256px;
}



.nav-animate {
    -webkit-transition: .3s linear all; /* Safari/Chrome */
    -moz-transition: .3s linear all; /* Firefox */
    -ms-transition: .3s linear all; /* IE10 */
    -o-transition: .3s linear all; /* Opera */
    transition: .3s linear all; /* Future Browsers */
}

body {
    overflow-x: hidden;
}